@charset "UTF-8";
@import url('reset.css');
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

@font-face {
  font-family: 'Cafe24Ssurround';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica';
  src: url(../font/Helvetica.woff) format('woff');
}
@font-face {
  font-family: 'HelveticaL';
  src: url(../font/HelveticaL.woff) format('woff');
}
@font-face {
  font-family: 'Helvetica Rounded';
  src: url(../font/HelveticaRoundedB.woff) format('woff');
}

/* Font, Color
  'Cafe24Ssurround' 'nanumsquare' 'Helvetica Rounded'
  #00aaff #00ccff #e8f6ff
*/

/* Common */
body {overflow-x:hidden;font-family: 'Helvetica', 'NanumSquare', 'sans-serif'}
.container {width: 1370px;margin: 0 auto;padding-left: 250px;transition: all 0.4s;}
.container.header_off {padding-left: 0;}
#main {background: url(../img/pattern_bg.png);}
section {padding: 60px 0;}
section:nth-of-type(-n + 2) {border-bottom: 1px dashed #0CF;}
section:not(#work) .section_inner {position: relative;}
section:not(#work) h2 {position: absolute;left: -40px;top: -20px;width: 160px;line-height: 140px;background-image:url(../img/section_head.png);background-size: cover;color: #FFF;}
section h2 {font-family: 'Helvetica Rounded';font-size: 30px;text-align: center;}
.section_inner {box-sizing: border-box;height: 430px;border-radius:20px;background: #e8f6ff}

/* Util */
.skip_nav a {display: block;position: absolute;top: -60px;left: 0;right: 0;background: #0CF;text-align: center;line-height: 60px;font-weight: bold;font-size: 20px;color: #FFF}
.skip_nav a:focus {top: 0}
.util .scrollTop {display: block;position: fixed;right: 0;top: 0;z-index:999;width: 44px;border-left: 2px solid #000;border-bottom: 2px solid #000;border-radius: 0 0 0 4px;background: #0CF;line-height: 26px;font-weight: bold;text-align: center;color: #FFF}
.util .scrollTop i {font-size: 12px;}
.util a {display: block;position: fixed;right: 40px;box-sizing:border-box;bottom: 40px;z-index:999;width: 60px;border: 2px solid #000;border-radius:50%;background: #0CF;line-height: 56px;text-align: center;font-size: 18px;color: #FFF;}

/* Header */
#header {position: fixed;z-index:999;left: 0;top: 0;bottom: 0;width: 250px;background: #0AF;transition:all 0.4s}
#header.header_off {left: -250px;}
#header button {position: absolute;top: 0;right: -40px;box-sizing:border-box;width: 40px;height: 40px;background: #0CF;border-bottom: 2px solid #000;border-right: 2px solid #000;border-radius:0 0 50% 0;}
#header .header_inner {display: flex;flex-flow:column nowrap;justify-content: space-between;box-sizing:border-box;height: 100%;padding-left: 30px;padding-top: 140px;}
#header .header_inner span {margin-bottom: 30px;font-family: 'HelveticaL';font-weight: 300;color: #FFF;}
#header .header_inner span b {display: block;margin-bottom: 17px;font-family: 'Helvetica Rounded';font-size: 24px;}

#gnb li a {display: block;margin-bottom: 20px;font-size: 14px;color: #FFF;}
#gnb li b {display: block;margin-bottom: 4px;font-family: 'Helvetica Rounded';font-size: 22px;text-transform: uppercase;}

/* Main_visual */
#main .main_visual {height: 100vh;background:url(../img/main_bg.png) center top;}
#main .main_visual h1 {position: absolute;left: 50%;top: 50%;transform:translate(-50%, -50%);font-family: 'Cafe24Ssurround';font-size: 60px;color: #FFF;white-space: nowrap;}
#main .tlt .word4 .char1, #main .tlt .word4 .char2 {color: #0CF}
#main .tlt .word1 {display: block !important;margin-bottom: 40px;}

/* Profile */
#profile .section_inner {padding: 0 110px;}
#profile .myInfo .myImg_addr_wrap {display: flex;align-items:center;}
#profile .myInfo {display: flex;justify-content: space-between;align-items: center;height: 100%;}
#profile .myInfo .myImg {display: block;box-sizing:border-box;width: 280px;height: 280px;margin-right: 100px;border: 2px solid #0AF;border-radius:50%;background: #FFF;}
#profile .address span {display: block;margin-bottom: 70px;font-family: 'HelveticaL'; font-size: 20px;}
#profile .address span b {display: block;margin-bottom: 20px;font-family: 'NanumSquare';font-size: 24px;font-weight: 700;letter-spacing: .1em;}
#profile .address li {margin-bottom: 20px;font-family: 'HelveticaL';font-size: 18px;}
#profile .address li:last-child {margin-bottom: 0;}
#profile .address li b {margin-right: 20px;font-family: 'nanumsquare';font-weight: 700;letter-spacing: .1em;}
#profile .career {height: 192px;}
#profile .career li {position: relative;margin-bottom: 24px;font-size: 18px;}
#profile .career li:last-child {margin-bottom: 0;}
#profile .career li:before {content:'';display: block;position: absolute;left: -17px;top: 50%;transform:translateY(-50%) rotate(45deg);width: 9px;height: 9px;background: #0AF;}

/* Skill */
#skill .section_inner {box-sizing:border-box;padding: 74px 110px 74px 140px;}
#skill img {width: 90px;vertical-align: top;}
#skill ul {display: flex;flex-flow:row wrap;align-content:space-between;height: 100%;}
#skill ul li {position: relative;width: 33.33333333%;}
.progress_bar {position: absolute;left: 90px;top: 54px;box-sizing:border-box;width: 248px;height: 30px;border: 2px solid #0AF;border-left: none;background: #FFF;border-radius:0 15px 15px 0;}
/* rProgress플러그인 css수정 */
.progressbar {margin-top: 2px;}
.progress {border-radius:0 15px 15px 0;}
.percentCount {position: absolute;right: 0;margin-top: -60px;font-family: 'Helvetica';font-size: 28px;font-weight: 400;color: #000;}
.percentCount i {font-size: 18px;}

/* Project */
#project .section_inner {padding: 0 240px 0 200px;}
#project .projects>div {display: flex;justify-content:space-between;}
#project .projects>.project:not(.project1) {display: none;}
#project img {width: 350px;}
#project .btn_proj {display: block;overflow: hidden;z-index: 99;position: absolute;top: 30px;box-sizing:border-box;width: 200px;height: 40px;border: 2px solid #0AF;border-radius:20px;background: #FFF;transition:all 0.3s;}
#project .btn_proj.proj_on {height: 120px;}
#project .btn_proj ul {text-indent: 20px;font-size: 20px;font-weight: 700;line-height: 36px;}
#project .proj_info, #project .proj_intro p{padding-top: 110px;}
#project .proj_intro p {font-size: 18px;} 
#project .projects img {margin-top: 58px;}
#project .proj_info li {position: relative;font-family: 'NanumSquare';margin-bottom: 34px;font-weight: 700;font-size: 18px;}
#project .proj_info li:before {content:'';display: block;position: absolute;left: -17px;top: 50%;transform:translateY(-50%) rotate(45deg);width: 9px;height: 9px;background: #0AF;}
#project .btn_proj ul:before {content:'';display: block;position: absolute;right: 16px;top: 14px;z-index: 999;width: 12px;height: 7px;background-image:url(../img/proj_chevron.png);background-size: 12px 7px;transition:all 0.3s;}
#project .btn_proj.proj_on ul:before {transform-origin : center;transform:perspective(300px) rotateX(180deg);}
#project .projInfo_wrap a {display: block;width: 160px;border-radius:20px;background: #0AF;line-height: 40px;font-family: 'NanumSquare';font-size: 20px;font-weight: 700;text-align: center;color: #FFF;}
#project .btn_proj li:not(.current_proj):hover {color: #0AF;}
/* Work */
#work {position: relative;padding: 60px 0 110px;background: #dffbff;}
#work h2 {padding-bottom: 20px;}
#work ul {display: flex;justify-content:space-between;height: 430px;}
#work li {overflow: hidden;width: calc(33.33333333% - 76px / 3);border-radius:20px;background: #FFF;}
#work a {display: block;width: 100%;height: 100%;background-position: top center;background-repeat: no-repeat;}
#work li:nth-child(1) a {background-image: url(../img/work_medipreview.png);background-size: 100% auto;}
#work li:nth-child(2) a {background-image: url(../img/work_calendar.png);background-size: auto 100%;}
#work li:nth-child(3) a {background-image: url(../img/work_band_banner.png);background-size: auto 100%;}
/* Contact */
#contact .section_inner {padding: 66px 0 32px;}
#contact form {display: flex;flex-flow:column nowrap;justify-content: space-between;align-items:center;height: 100%;}
#contact form input, #contact form textarea {box-sizing:border-box;width: 400px;font-family: 'NanumSquare';border: 2px solid #0AF;line-height: 30px;font-size: 20px;text-indent: 4px;outline: none;}
#contact form input {height: 40px;}
#contact form textarea {height: 120px;resize:none;}
#contact form input::placeholder, #contact form textarea::placeholder {font-family: 'NanumSquare';font-size: 20px;text-indent: 4px;color: #000;}
#contact button {width: 200px;height: 40px;border-radius:20px;background: #0AF;font-size: 20px;font-weight: 700;color: #FFF;}

/* 노트북 대비 반응형 */
@media screen and (max-width:1370px) {
  #header {display: none;}
  .container {width: 90%;min-width:920px;padding-left: 0;}
  #profile .section_inner {height: 600px;padding: 0;}
  #profile .myInfo {flex-wrap:wrap;justify-content: space-around;}
  #profile .myInfo .myImg_addr_wrap {width: 100%;justify-content: center;}
  #profile .myInfo .career {height: auto;align-self: flex-start;}

  #skill .section_inner {height: 600px;padding: 0 0 0 40px;}
  #skill ul {justify-content:center;align-content: space-around;}
  #skill ul li {width: 40%;}

  #project .section_inner {padding: 0 100px 0 200px;}

  #work ul {height: auto;}
  #work li a {padding-top: 100%;height: 0;}
}
